* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.imgbox {
  width: 100%;
  height: 100%;
}

img {
  width: 99%;
  border-top: 0.5px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  display: block;
  height: 49.7%;
}
